
*.class
*.jar
*.lst
*.war
*.jar
*.prefs
penguin-producer/.classpath
penguin-producer/.project
penguin-producer2/.project
penguin-producer2/.classpath
penguin-config/.project
penguin-config/.classpath
*.class
*.class
*.original
