<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryzin.penguin.admin.dao.FunRateMapper">

  <resultMap id="BaseResultMap" type="com.ryzin.penguin.admin.model.FunRate">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="rater_id" jdbcType="BIGINT" property="raterId" />
	<result column="rated_id" jdbcType="BIGINT" property="ratedId" />
	<result column="exp_id" jdbcType="BIGINT" property="expId" />
	<result column="rate" jdbcType="TINYINT" property="rate" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="insert" parameterType="com.ryzin.penguin.admin.model.FunRate">
    insert into fun_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="raterId != null">
        rater_id,
      </if>
      <if test="ratedId != null">
        rated_id,
      </if>
      <if test="expId != null">
        exp_id,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="raterId != null">
        #{raterId,jdbcType=BIGINT},
      </if>
      <if test="ratedId != null">
        #{ratedId,jdbcType=BIGINT},
      </if>
      <if test="expId != null">
        #{expId,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from fun_rate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.ryzin.penguin.admin.model.FunRate">
    update fun_rate
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="raterId != null">
        rater_id = #{raterId,jdbcType=BIGINT},
      </if>
      <if test="ratedId != null">
        rated_id = #{ratedId,jdbcType=BIGINT},
      </if>
      <if test="expId != null">
        exp_id = #{expId,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from fun_rate
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from fun_rate
  </select>
  
  <select id="findByExpIdAndRatedId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from fun_rate
    where exp_id = #{expId,jdbcType=BIGINT}
    and
    rated_id = #{ratedId, jdbcType=BIGINT}
  </select>
  
  <select id="findAllRateByRatedId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select rate from fun_rate
    where rated_id = #{ratedId, jdbcType=BIGINT}
  </select>
</mapper>